html {
    font-family: "Comic Sans", "Comic Sans MS", "Arial"; 
}

 h1, h2, h3 {
    font-family: "Papyrus";
    color: purple;
 }

ul {
    list-style: none;
    background-color: gray;
    margin: 0;
    padding: 0;

}

li {
    display: inline-block;
    padding: 0;
    color: black
}

li:hover {
    background-color: #aaa;
}


a {
    color: black;
    display: block;
    padding: 16px;
}

a:hover {
    background-color: #aaa;
}

footer {
    background-color: #ddd;
    color: #555;
    padding: 16px;
    text-align: center;
}

